#ace-editor { 
  height : 68%;
  border: 1px solid #ccc;
  font-size: 16pt;
  line-height: 1.6;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.not-there {
  display: none;
}

.special a {
  color :#f1961d;
}
.document {
  height : 80px;
  width : 120px;
  overflow:hidden;
  border-left: solid 9px #767e49;
  border-top: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  margin-right: 9px;
}
.document p{
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
}
#ed {
  height : 75%;
  width : 49%;
  border: 1px solid #ccc;
}
#document-summary-list{
  list-style-image:url('/img/document-small.png');
}
#document-summary-list li{
  overflow : hidden;
}
